<ion-header [translucent]="true">
  <ion-toolbar mode="ios">

      <div class="top-btn-left" routerLink="/opciones">     
        <i class="fa-solid fa-gear"></i> 
      </div>


    <ion-title class="nombre">
      Bienvenido {{this.globalData.globalName}}
    </ion-title>

    <div class="top-btn-right" routerLink="/crear-perfil">     
        <i class="fa-solid fa-circle-user"></i> 
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenido">
    <ion-button class="btn-centro" routerLink="/buscar-eventos">Explorar eventos</ion-button> 
    <br>
    <ion-button class="btn-centro" routerLink="/eventos-inscritos">Eventos inscritos</ion-button> 
    <br>
    <ion-button routerLink="/admin-crear-qr" >Crear QR (Dueño)</ion-button>
    <br>
    <ion-button class="btn-centro" routerLink="/crear-eventos">Crear eventos (Dueño)</ion-button> 
    <br>
    <ion-button class="btn-centro" routerLink="/tus-eventos">Tus eventos (Dueño)</ion-button> 
  </div>
    <div class="divQR">
    <ion-button class="boton-qr" (click)="leerQR()">
      <i class="fa-solid fa-qrcode" style="margin-right: 10px;"></i>
      Leer QR
    </ion-button>
    </div>

</ion-content>
