<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <div class="top-btn-left" routerLink="/home">     
      <i class="fa-solid fa-arrow-left"></i>
    </div>
    
    <ion-title class="nombre">
      Crear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="contenido">
      
    <div>
      <ion-button (click)="popup = true; crearQR()">Crea tu QR</ion-button>
        
      @if (popup) {
        <div style="margin-top: 20px; padding: 15px; background-color: var(--fondo2); color: var(--claro-lima); border-radius: 5px;">
          <br>
          <ion-button (click)="contactarQR(id)">¡Comienza!</ion-button>
          <br>

          <div>
            <img [src]="urlCodigoQR" alt="¿Aún no tienes un qr? ¡créalo!" />
          </div>
  
          <br>
          <ion-button (click)="popup = false">Ciérreme</ion-button>
        </div>
      }
    </div>

  </div>
</ion-content>
