<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar eventos."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="cartas">
        @for (evento of listaEventos; track evento.id) {
          <ion-card style="margin-bottom: 15px;" (click)="abrirModal(evento)" >

            @switch (evento.categoria) {
          @case ('Pokémon') {
            <img alt="Pokémon Banner" src="https://www.pokemon.com/static-assets/content-assets/cms2/img/trading-card-game/series/sv_series/sv08/sv08-banner.png" />
          }
          @case ('Gundam') {
            <img alt="Gundam Banner" src="https://www.gamescape.com/cdn/shop/collections/gundam-card-game-collection-banner.webp?v=1756590352&width=750" />
          }
          @case ('Magic') {
            <img alt="Magic Banner" src="https://i.pinimg.com/736x/44/2a/e4/442ae429735f828ff21cfd307c44c36e.jpg" />
          }
          @default {
            <img alt="N/A" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          }
        }
          
            <ion-card-header>
              <ion-card-title>{{ evento.nombre }}</ion-card-title>
              
              <ion-card-subtitle>
                Franquicia: {{ evento.categoria }} | Cupos: {{ evento.cantidad }}
              </ion-card-subtitle>
              
              <ion-card-subtitle>
                Fecha:{{ evento.fechaTimestamp?.toDate() | date: 'dd/MM/yyyy - HH:mm' }} hrs
                <br>
                Ubicación: {{ evento.ubi }}
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              {{ evento.descripcion }}
            </ion-card-content>
          </ion-card>

        } @empty {
          <div style="text-align: center; padding: 20px; color: gray;">
            <p>No hay eventos disponibles en este momento.</p>
          </div>
        }
      </div>
  
      <ion-modal [isOpen]="isModalOpen" (didDismiss)="cerrarModal()">
        @if (eventoSeleccionado) {
          <ion-header>
            <ion-toolbar >
              <ion-title> {{ eventoSeleccionado?.nombre }}</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="cerrarModal()">Cerrar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>

          <ion-content class="ion-padding">
          <h4>Descripción</h4>
          {{ eventoSeleccionado?.descripcion }} <br> <br>
          integrantes:  {{largoLista}} / {{ eventoSeleccionado.cantidad}}
          <hr style="margin: 20px 0; border: 0; border-top: 1px solid var(--claro-lima);" />

        

          <div style="margin-top: 40px;">
            <ion-button expand="block" color="success"(click)="unirseAlEvento()">Unirse al Evento</ion-button>
            <br>
            <ion-button (click)="cerrarModal()" expand="block" color="danger">Cancelar</ion-button>
          </div>
        </ion-content>
      }
  </ion-modal>

</ion-content>
